<% provide(:title , "Sign Up") %>

<div class="jumbotron" style="text-align:center">
	<h1 class="center">About</h1>
	<%= form_for(@user) do |f| %>
	<%= render 'layouts/errors' %>
	<table class="col-lg-offset-4">
	<tr>
		<div class="form-group">
			<td><%= f.label :name , class: "form-class" %></td>
			<td><%= f.text_field :name , class: "form-class" %></td>
		</div>
	</tr>
	<tr>
			<div class="form-group">
			<td><%= f.label :email , class: "form-class" %></td>
			<td><%= f.email_field :email , class: "form-class" %></td>
		</div>
	</tr>
	<tr>
			<div class="form-group">
			<td><%= f.label :password , class: "form-class" %></td>
			<td><%= f.password_field :password, class: "form-class" %></td>
		</div>
	</tr>
	<tr>
			<div class="form-group">
			<td><%= f.label :password_confirmation , class: "form-class" %></td>
			<td><%= f.password_field :password_confirmation , class: "form-class" %></td>
		</div>
	</tr>
	</table>
	<br>
	<%= f.submit "Sign Up" , class: "btn btn-primary signup" %>
	<% end %>
</div>