<div class="container">
  <%= provide(:title , @user.name + " page") %>
  <% flash.each do |message_type , message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
	<div class="row">
		<div class="col-lg-2">
			<%= gravatar_for @user %>
		</div>
		<div clas="col-lg-10">
			<%= @user.name %>
			<br>
			<%= @user.email %>
		</div>
	</div>
	<div class="row">
		<h1>Microposts</h1>
		<%= form_for(@micropost) do |f| %>
		<div class="form-group">
			<%= f.label :content , class: "form-class" %>
			<%= f.text_field :content , class: 'form-group' %>
		</div>

		<div class="form-group">
			<%= f.submit "submit" , class: "btn btn-primary" %>
			
		</div>
		<% end %>

	</div>
	<div class="row">
		<% @user.micropost.each do |micropost| %>
		<%= micropost.content %>
		<% end %>
	</div>
</div>